
  /* Hamburger Button */
  .hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    position: fixed;
    right: 20px;
  }

  .hamburger:hover{
    background-color: #0000002a;
  }

  /* Responsive Navbar */
  @media (max-width: 768px) {
    .navbar-nav {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      background: rgba(0, 0, 0, 0.37); /* Glassmorphic Effect */
      backdrop-filter: blur(10px);
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(255, 253, 253, 0.9);
      text-align: center;
      transition: opacity 0.5s ease-in-out;
      opacity: 0;
      visibility: hidden;
    }
  
    /* Show menu when hovering */
    .navbar-nav.show {
      display: flex;
      opacity: 1;
      visibility: visible;
    }
  
    .navbar-nav li {
      padding: 12px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      color: white;
    }
  
    /* Make the hamburger visible on mobile */
    .hamburger {
      display: block;
    }
  }
  